{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            Toto
        </div>
        <div class="col-md-4">
            Tata
        </div>
        <div class="col-md-4">
            Tutu
        </div>
    </div>
</div>
{% endblock %}

