@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.header {
  & .navbar.navbar-default {
    border-radius: 0;
    background-color: transparent;
    border-width: 0;
    border-bottom-width: 1px;
  }
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
