@import '~bootstrap-sass/assets/stylesheets/bootstrap';

header {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;

  & nav > ul {
    margin-top: 10px;
  }
}

footer {
  margin-bottom: 20px;
  text-align: center;
}
